* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.card {
    position: relative;
    width: 450px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.089);
    cursor: pointer;
}
  
.city {
    font-weight: 700;
    font-size: 2rem;
    margin-top: .8rem;
    letter-spacing: 1.2px;
    color: white;
}
  
.weather {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    color: rgb(197, 197, 197);
}
  
.temp {
    font-size: 3.8rem;
    color: white;
}
  
.minmaxContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .8rem;
}
  
.min,.max {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 20px;
    gap: 4px;
}
  
.max {
    align-items: flex-start;
    border-left: 2px solid white;
}
  
.maxHeading,.minHeading {
    font-size: 1.9rem;
    font-weight: 600;
    color: white;
}
  
.maxTemp,.minTemp {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(197, 197, 197);
}
  
.cardContainer::before {
    width: 180px;
    height: 180px;
    content: "";
    position: absolute;
    background-color: rgb(144, 161, 255);
    z-index: -1;
    border-radius: 50%;
    left:220px;
    top: 80px;
    transition: all 1s;
    filter: blur(2.5rem);
}
  
.cardContainer:hover::before {
    transform: translate(-90px ,90px);
}